---
---
<!DOCTYPE html>
<html lang="en">
{% include header.html %}
<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Tahnee and Daniel's Wedding</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h4>25th March 2017</h4>
        </div>
        <div class="col-md-6">
          <h4>Bendigo, Victoria, Australia</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-md-9" role="main">
        <div class="card">
            <div class="panel panel-default">
              <div class="panel-heading">
                <strong>RSVP</strong>
              </div>
              <div class="panel-body">
                Please RSVP to <a href="mailto:tahnee.daniel.wedding@gmail.com">tahnee.daniel.wedding@gmail.com</a>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-3" role="complementary">
        {% include nav.html %}
      </div>

    </div>
  </div>

</body>
</html>
