---
---
<!DOCTYPE html>
<html lang="en">
{% include header.html %}
<body>
  {% include heading.html %}
  <div class="container">
    <div class="row">

      <div class="col-md-9" role="main">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">RSVP</h4>
            <p class="card-text">
              Please RSVP to <a href="mailto:tahnee.daniel.wedding@gmail.com">tahnee.daniel.wedding@gmail.com</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3" role="complementary">
        {% include nav.html %}
      </div>

    </div>
  </div>

</body>
</html>
