  <div class="jumbotron jumbotron-fluid bg-inverse">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4">Tahnee and Daniel's Wedding</h1>
        </div>
      </div>
      <hr class="m-y-2">
      <div class="row">
        <div class="col-md-6">
          <p class="lead">25th March 2017</h4>
        </div>
        <div class="col-md-6">
          <p class="lead">Bendigo, Australia</h4>
        </div>
      </div>
    </div>
  </div>
