<ul class="nav list-group">
  <li class="nav-item list-group-item">
    <a href="/pages/rsvp.html" class="nav-link active">
      RSVP
    </a>
  </li>
  <li class="nav-item list-group-item">
    <a href="/pages/venue.html" class="nav-link active">
      Venue
    </a>
  </li>
  <li class="nav-item list-group-item">
    <a href="/pages/accommodation.html" class="nav-link active">
      Accommodation
    </a>
  </li>
  <li class="nav-item list-group-item">
    <a href="/pages/picnic.html" class="nav-link active">
      Sunday Picnic
    </a>
  </li>
  <li class="nav-item list-group-item">
    <a href="/pages/attractions.html" class="nav-link active">
      Other Attractions
    </a>
  </li>
</ul>
